@model ProyectoNFTs.Application.DTOs.TarjetaDTO

<div class="card">
    <div class="card-header bg-black text-light">
        <h5>Tarjeta - Actualizar</h5>
    </div>
    <div class="row mx-2 my-2">
        <div class="col-md-4">
            <form asp-action="Edit" asp-controller="Tarjeta"
                  data-ajax="true"
                  data-ajax-method="POST"
                  data-ajax-begin="onBegin"
                  data-ajax-failure="onFailure"
                  data-ajax-success="onSuccess"
                  data-ajax-complete="onComplete">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="IdTarjeta" class="control-label"></label>
                    <input asp-for="IdTarjeta" class="form-control" readonly />
                    <span asp-validation-for="IdTarjeta" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Descripcion" class="control-label"></label>
                    <input asp-for="Descripcion" class="form-control" />
                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Estado" /> @Html.DisplayNameFor(model => model.Estado)
                    </label>
                </div>
                <div class="form-group">
                    <input type="submit" value="Actualizar" class="btn btn-primary" id="miBtn" />  |
                    <a asp-action="Index" class="btn btn-dark">
                        <span class="bi bi-arrow-left"></span> Regresar
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Div para spinner -->
<div id="loader" class=""></div>


@section scripts {
    <script>
        function onBegin() {
            console.log("onBegin")
            // Cuando se coloca loading en el nombre del class se inicia el spinner
            // Este se define en el /css/site.css
            document.getElementById("loader").className = "loading";
        }

        function onFailure(response) {
            console.log()

            document.getElementById("loader").className = "";
        }

        function onSuccess(response) {
            console.log("onSuccess");
            Swal.fire({
                title: 'Registro actualizado correctamente!!',
                icon: 'success',
                showConfirmButton: true, // No mostrar el botón de confirmación
                timer: 2000,
                timerProgressBar: true
            }).then(() => {
                // Redirigir a la vista "Index" después de que el usuario cierre el SweetAlert
                window.location.href = '/Tarjeta/Index'; // Reemplaza 'Tarjeta' con el nombre de tu controlador
            });
        }

        function onComplete() {
            console.log("onComplete")
            // Se cambia el nombre del class al loader. Con esto se detiene el spinner
            document.getElementById("loader").className = "";

        }
    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
