html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.btn-container {
    display: flex;
    justify-content: space-between; /* Ajusta el espaciado entre los botones */
    align-items: center; /* Alinea verticalmente los botones */
}

.btn {
    margin-right: 1px; /* Ajusta el margen derecho entre los botones */
    margin-left: 1px;
    border-width: 1px; /* Reducir el grosor del borde */
    padding: 0.350rem 0.75rem; /* Reducir el relleno del botón */
}

.radio-buttons {
    margin-left: 30px; /* Ajusta el valor según sea necesario */
}

.form-group {
    margin-bottom: 10px; /* Puedes ajustar este valor según la separación deseada */
    margin-top: 10px;
}

/* Hacer + grande a imagen sobre la image */
.zoom {
}

    .zoom:hover {
        transform: scale(2.5);
    }

.zoom2 {
}

    .zoom2:hover {
        transform: scale(2.1);
    }

/*  fin  */

/* this is needed to make the content scrollable on larger screens */
@media (min-width: 576px) {
    .h-sm-100 {
        height: 100%;
    }
}

.nft-container {
    text-align: center;
}

.nft-image {
    display: block;
    margin: 0 auto;
}

.nft-details {
    display:flex;
    justify-content:center;
   /* text-align: left;*/
    margin-top: 20px; /* Espacio entre la imagen y los detalles */
}

/* Absolute Center Spinner  28-01-2024
   https://codepen.io/charlyarg/pen/GByKja
*/
.loading {
    position: fixed;
    z-index: 999;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
}

    /* Transparent Overlay */
    .loading:before {
        content: '';
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255,255,255,0.5);
    }

    /* :not(:required) hides these rules from IE9 and below */
    .loading:not(:required) {
        /* hide "loading..." text */
        font: 0/0 a;
        color: transparent;
        text-shadow: none;
        background-color: transparent;
        border: 0;
    }

        .loading:not(:required):after {
            content: '';
            display: block;
            font-size: 10px;
            width: 120px;
            height: 120px;
            margin-top: -0.5em;
            border: 15px solid rgba(33, 150, 243, 1.0);
            border-radius: 50%;
            border-bottom-color: transparent;
            /*Colors
            border-top: 16px solid blue;
            border-right: 16px solid green;
            border-bottom: 16px solid red;
             */
            -webkit-animation: spinner 1s linear 0s infinite;
            animation: spinner 1s linear 0s infinite;
        }

/* Animation */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
