@model ProyectoNFTs.Application.DTOs.NftDTO

<div class="card">
    <div class="card-header bg-black text-light">
        <h5>NFT - Actualizar</h5>
    </div>
    <div class="row mx-2 my-2">
        <div class="col-md-4">
            <form asp-action="Edit" enctype="multipart/form-data"
                  data-ajax="true"
                  data-ajax-method="POST"
                  data-ajax-begin="onBegin"
                  data-ajax-failure="onFailure"
                  data-ajax-success="onSuccess"
                  data-ajax-complete="onComplete">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="IdNft" class="control-label"></label>
                    <input asp-for="IdNft" class="form-control" readonly />
                    <span asp-validation-for="IdNft" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Autor" class="control-label"></label>
                    <input asp-for="Autor" class="form-control" />
                    <span asp-validation-for="Autor" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Precio" class="control-label"></label>
                    <input asp-for="Precio" class="form-control" />
                    <span asp-validation-for="Precio" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cantidad" class="control-label"></label>
                    <input asp-for="Cantidad" class="form-control" />
                    <span asp-validation-for="Cantidad" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Imagen" class="control-label"></label>
                    <input type="file" class="form-control" id="ImageFile" name="ImageFile" />
                    <span asp-validation-for="Imagen" class="text-danger"></span>
                </div>
                <div class="nft-image">
                    <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.Imagen)" alt="Imagen NFT" style="width: 200px; height: 200px;" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Actualizar" class="btn btn-primary" id="miBtn" />  |
                    <a asp-action="Index" class="btn btn-dark">
                        <span class="bi bi-arrow-left"></span> Regresar
                    </a>
                </div>
            </form>

        </div>
    </div>
</div>


<!-- Div para spinner -->
<div id="loader" class=""></div>

@section scripts {


    <script>
        function onBegin() {
            console.log("onBegin")
            // Cuando se coloca loading en el nombre del class se inicia el spinner
            // Este se define en el /css/site.css
            document.getElementById("loader").className = "loading";
        }

        function onFailure(response) {
            console.log()

            document.getElementById("loader").className = "";
        }

        function onSuccess(response) {
            console.log("onSuccess");
            Swal.fire({
                title: 'Registro actualizado correctamente!!',
                icon: 'success',
                showConfirmButton: true, // No mostrar el botón de confirmación
                timer: 2000,
                timerProgressBar: true
            }).then(() => {
                // Redirigir a la vista "Index" después de que el usuario cierre el SweetAlert
                window.location.href = '/Nft/Index'; // Reemplaza 'Cliente' con el nombre de tu controlador
            });
        }

        function onComplete() {
            console.log("onComplete")
            // Se cambia el nombre del class al loader. Con esto se detiene el spinner
            document.getElementById("loader").className = "";

        }

    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


